<html>
  <head>
    <title>Face Detector</title>
    <style type="text/css">
      body {
        width: 95%;
        height: 80%;
        /* background: url("hero-bg.jpg") top center; */
        background: #eef2f5;
        background-size: cover;
        position: relative;
        padding-top: 72px;
        text-align: center;
        color: #000;
        font-family: "Open Sans", sans-serif;

        /* background-image: url(hero-bg.jpg); */
      }
    </style>
  </head>
  <body>
    <h1>Filter Dog Face</h1>
    <div>
        <video id="video-feed-1" autoplay></video>
    </div>
    <script>
        function loadVideo(streamUrl, videoElementId) {
            const video = document.getElementById(videoElementId);
            video.src = streamUrl;
        }

      // Mendapatkan akses kamera pengguna jika didukung
        navigator.getUserMedia = (navigator.getUserMedia ||
                                  navigator.webkitGetUserMedia ||
                                  navigator.mozGetUserMedia ||
                                  navigator.msGetUserMedia ||
                                  navigator.oGetUserMedia);

        if (navigator.getUserMedia) {
            navigator.getUserMedia({ video: true }, handleVideo, videoError);
        } else {
            alert('Browser tidak mendukung getUserMedia');
        }

        function handleVideo(stream) {
            const video1 = document.getElementById('video-feed-1');
            video1.srcObject = stream;
        }

        function videoError(e) {
            alert("Izinkan menggunakan webcam untuk demo!");
        }

        const serverAddress = '{{ ip }}' + ':' + '{{ port }}';
        const streamUrl1 = `https://${serverAddress}/fungsiSatu`;
        loadVideo(streamUrl1, 'video-feed-1');
    </script>
  </body>
</html>
