<html>
  <head>
    <title>Face Detector</title>
    <style type="text/css">
      body {
        width: 95%;
        height: 80%;
        /* background: url("hero-bg.jpg") top center; */
        background: #eef2f5;
        background-size: cover;
        position: relative;
        padding-top: 72px;
        text-align: center;
        color: #000;
        font-family: "Open Sans", sans-serif;

        /* background-image: url(hero-bg.jpg); */
      }
    </style>
  </head>
  <body>
    <h1>Filter Dog Face</h1>
    <img src="https://{{ ip }}/fungsiSatu" id="camera-stream" alt="Camera Stream">
  </body>
</html>
