<html>
  <head>
    <title>Face Detector</title>
    <style type="text/css">
      body {
        width: 95%;
        height: 80%;
        /* background: url("hero-bg.jpg") top center; */
        background: #eef2f5;
        background-size: cover;
        position: relative;
        padding-top: 72px;
        text-align: center;
        color: #000;
        font-family: "Open Sans", sans-serif;

        /* background-image: url(hero-bg.jpg); */
      }
    </style>
  </head>
  <body>
    <h1>Filter Dog Face</h1>
    <video id="video" autoplay></video>
    <script>
        navigator.getUserMedia = navigator.getUserMedia ||
                                 navigator.webkitGetUserMedia ||
                                 navigator.mozGetUserMedia ||
                                 navigator.msGetUserMedia ||
                                 navigator.oGetUserMedia;

        if (navigator.getUserMedia) {
            navigator.getUserMedia({ video: true }, function(stream) {
                var video = document.getElementById('video');
                video.srcObject = stream;

                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext('2d');

                function sendVideoFrame() {
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                    var dataUrl = canvas.toDataURL('image/jpeg');

                    fetch('/receive-video', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/octet-stream'
                        },
                        body: dataUrl.split(',')[1]
                    }).then(function(response) {
                        console.log(response);
                    }).catch(function(error) {
                        console.error(error);
                    });

                    requestAnimationFrame(sendVideoFrame);
                }

                requestAnimationFrame(sendVideoFrame);
            }, function(error) {
                console.error('Izinkan menggunakan webcam untuk demo:', error);
            });
        } else {
            console.error('getUserMedia tidak didukung di browser ini');
        }
    </script>
  </body>
</html>
