<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{url_for('static', filename='assets/css/tim.css')}}" rel="stylesheet" />
    <title>Our Team</title>
  </head>
  <body>
    <div class="card">
      <div class="card-image">
        <img src="{{url_for('static', filename='assets/img/amal.jpg')}}" alt="img.jpg" />
      </div>
      <div class="card-description">
        <h3><center>Amaliya Halimatus S</center></h3>
        <!-- <br></br> -->
        <!-- <p><center></center></p> -->
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img src="{{url_for('static', filename='assets/img/sophia.jpg')}}" alt="img.jpg" />
      </div>
      <div class="card-description">
        <h3><center>Sophia Deo Sandeva</center></h3>
        <!-- <br></br> -->
        <!-- <p><center></center></p> -->
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img src="{{url_for('static', filename='assets/img/afifah.jpg')}}" alt="img.jpg" />
      </div>
      <div class="card-description">
        <h3><center>Afifah Cahyaningsih</center></h3>
        <!-- <br></br> -->
        <!-- <p><center></center></p> -->
      </div>
    </div>
  </body>
</html>
